<h1>AVALIADOR DE SEGURANÇA DE SENHA</h1>
<div class="card bg-light">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="password" class="form-control pass-input" id="password" name="password" placeholder="Senha"
            [(ngModel)]="password" (input)="checkPassword(password)" autofocus>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mt-1">
        <div style="width: 75px">
          <ngb-progressbar showValue="true" [type]="complexityClass" [value]="result?.score" height="1.5em"></ngb-progressbar>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <span [ngClass]="'badge badge-' + complexityClass">{{result?.complexityDescription}}</span>
      </div>
    </div>
  </div>
</div>